body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 2rem;
}

header {
  max-width: 30rem;
}

form {
  display: flex;
  gap: 0.5rem;
}

h1 {
  font-size: 1.25rem;
  font-weight: normal;
}

.search-trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  background-color: white;
  cursor: pointer;
  color: gray;
}

.search-trigger:hover {
  cursor: text;
}

.search-trigger svg,
.search-container svg {
  fill: gray;
  width: 1.5rem;
  height: 1.5rem;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container svg {
  position: absolute;
  left: 10px;
  pointer-events: none;
}

.confirm-search {
  background-color: dodgerblue;
  color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.confirm-search:hover {
  filter: brightness(85%);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

aside {
  margin-top: 1rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 1rem;
  line-height: 1.75rem;
  max-width: 45rem;
}

.modal {
  border: none;
  border-radius: 8px;
  width: 32rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: 3.3rem;
  margin-left: 1rem;
}

input[type="search"] {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.group h3 {
  padding-bottom: 0.5rem;
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

.group ul {
  list-style: none;
  padding-left: 0;
}

.group li {
  margin: 0.25rem 0;
}

.group a {
  text-decoration: none;
  color: black;
}

.group a:hover {
  text-decoration: underline;
}

.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  color: #545454;
}

.close-button:hover {
  color: black;
}
